.monIdentité {
  background-color: rgb(37,116,169)
}
.monAdresse {
  background-color: rgb(154,18,179)
}
.monPayement {
  background-color: rgb(219,10,91)
}
.titre1 {
  background-color: rgb(37,116,169)
}
.titre2 {
  background-color: rgb(154,18,179)
}
.titre3 {
  background-color: rgb(219,10,91)
}
